*{
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background: #333;
}
.menu > li {
  
  display: inline-block;
  margin: 0px 12px;
  padding-bottom: 20px ;
}
.menu  li {
  position: relative;
}
.menu  li:hover > .sub-menu {
  display: block;
}
.menu a {
  color: #fff;
  text-decoration: none;
}
.sub-menu {
  position: absolute;
  top: 32px;
  left: -12px;
  width: 144px;
  background-color: #fff;
  display: none;
}
.sub-menu li:hover {
  background-color: #ddd;
}
.sub-menu a {
  display: block;
  color: #333;
  padding: 8px 16px;
  border: 1px solid #ccc;
}

.sub-menu .sub-menu{
  left: 100%;
  top: 0px;
  display: none;
}